<nav class="main-menu">
  <ul>
    {% for link in linklists.main-menu.links %}
      {% assign child_list_handle = link.title | handleize %}
      {% if linklists[child_list_handle].links != blank %}
        <li class="dropdown">
          <a href="{{ link.url }}">{{ link.title }}</a>
          <ul class="dropdown-menu">
            {% for childlink in linklists[child_list_handle].links %}
              <li><a href="{{ childlink.url }}">{{ childlink.title | escape }} aaaaaa{{ childlink.url }} </a></li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li>
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
<style>
/* General styling for menu items */
.main-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-menu li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

.main-menu li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px; 
  isplay: block; /* Ensure the entire area is clickable */
  background-color: transparent; /* Set the background color to transparent */
}

/* Styles for the dropdown */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.main-menu li:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  display: block;
}

.dropdown-menu li a {
  padding: 8px;
  background-color: transparent; 
}

/* .main-menu li:hover {
  background-color: #f0f0f0;
} */


@media only screen and (max-width: 768px) {
  .main-menu li {
    display: block;
    margin: 10px 0;
  }

  .main-menu li:hover .dropdown-menu {
    display: none;
  }

  .dropdown-menu {
    position: relative;
    box-shadow: none;
  }
}

</style>